
@{
    ViewBag.Title = "EncryptOperation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Encrypt Operation</h2>

<input type="hidden" id="checkPhrase" data-value="@ViewBag.CheckPhrase" />
<input type="hidden" id="promptForKey" data-value="@ViewBag.PromptForKey" />

@section scripts
{
    <script>
        if ($("#promptForKey").data("value")) {
            promptForKey($("#checkPhrase").data("value"));
        }
    </script>
}

