@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>

<input type="hidden" id="promptForKey" data-value="@ViewBag.PromptForKey" />

@section scripts
{
    <script>
        if ($("#promptForKey").data("value")) {
            promptForKey();
        }
    </script>
}
