@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>

<input type="hidden" id="promptForKey" data-value="@ViewBag.PromptForKey" />

@section scripts
{
    <script>
        var promptForKey = $("#promptForKey").data("value");

        if (promptForKey) {
            BootstrapDialog.show({
                title: 'ACA-IRS File Processer',
                message: 'Please enter key: <input type="text" class="form-control">',
                buttons: [
                    {
                        label: 'OK',
                        action: function (dialogRef) {
                            var value = dialogRef.getModalBody().find('input').val();
                            if ($.trim(value.toLowerCase()) === '') {
                                alert('Please enter a value or press Cancel.');
                                return false;
                            }
                            else if (/\s/.test(value)) {
                                alert('Value cannot contain any white space (spaces, tabs, line returns, etc.)');
                                return false;
                            }

                            $.ajax({
                                url: "/Default/PostEncryptionKey",
                                type: "POST",
                                data: {'key' : value},
                                dataType: "json",
                                success: function (data) {
                                    if (data.status == "Success") {
                                        alert("Done");
                                    } else {
                                        alert("Error occurs on the Database level!");
                                    }
                                },
                                error: function (xhr, httpStatusMessage, customErrorMessage) {
                                    alert("Status = " + xhr.status + ", Message = " + customErrorMessage);
                                }
                            });
                            dialogRef.close();
                        }
                    },
                    {
                        label: 'Cancel',
                        action: function (dialogRef) {
                            dialogRef.close();
                        }
                    }
                ]
            });
        }
    </script>
}
